<div>
  <div class="grid-stack-item-content avi-contentPadding"></div>
  <span class="avi-itemBtn avi-tint"><i class="fa fa-tint"></i></span>
  <span class="avi-itemBtn avi-bg {{#unless editor}}avi-itemBtnHighlight{{/unless}}" data-toggle="tooltip" title="test"><i class="fa fa-image"></i></span>
  <span class="avi-itemBtn avi-dragHandle"><i class="fa fa-arrows"></i></span>
  {{#if editor}}<a class="avi-itemBtn avi-toggleEdit avi-editing avi-itemBtnHighlight" href="#"><i class="fa fa-check"></i></a>{{/if}}
  <span class="avi-itemBtn avi-resize"><i class="fa fa-expand"></i></span>
</div>