$fa-font-path: "../fonts";
@fa-font-path: "../../fonts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "compass";

body {
  background-attachment:fixed;
  background-size:cover;
}
.avi-container {
  &>div {
      position:absolute !important;
      &>div {
        position: absolute;
        top: 0px;
        right: 15px;
        left: 15px;
        bottom: 0px;
        background-size: cover;
      }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .avi-container {
    &>div {
      left:0px !important;
      top:auto !important;
      position:relative !important;
    }
  }
}
.avi-contentPadding>.avi-contentContainer {
  padding:10px;
}